{% extends "base_generic.html" %}

{% block scripts %}
  <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
  <script>
    $(document).ready(function() {
      $(".btn-outline-danger").first().click(function() {
      });
    });
  </script>
{% endblock %}

{% block content %}
<div class="col-sm-10">
  <div class="col-sm-10 mx-auto">
    <br>
    <p class="text-center mb-4">Khách hàng: {{ customer.customer_name }}</p>
    
    <table class="table table-striped">
      <tr>
        <th>Nhóm khách hàng</th>
        <td><a href="http://127.0.0.1:8000/customer_group/{{ customer.customer_group.group_code }}/">{{ customer.customer_group.group_name }}</a></td>
      </tr>
      <tr>
        <th>ID</th>
        <td>{{ customer.customer_code }}</td>
      </tr>
    </table>
    
    {% if orders %}
      <h2 class="mt-4">Đơn hàng</h2>
      <table class="table table-bordered">
        <thead class="thead-light">
          <tr>
            <th>Mã đơn hàng</th>
            <th>Ngày tạo đơn</th>
            <th>Phương thức thanh toán</th>
            <th>Tổng tiền</th>
          </tr>
        </thead>
        <tbody>
          {% for order in orders %}
            <tr>
              <td><a href="http://127.0.0.1:8000/order/{{ order.order_code }}/">{{ order.order_code }}</a></td>
              <td>{{ order.order_time }}</td>
              <td>{{ order.payment_method }}</td>
              <td>{{ order.total_amount }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% else %}
      <p class="text-center mt-4">Không có bất kỳ đơn hàng nào.</p>
    {% endif %}
    
    {% if user.is_staff %}
      <div class="d-grid gap-2 col-4 mx-auto mt-4">
        <button class="btn btn-info btn-block" type="button">UPDATE</button>
        <a href="http://127.0.0.1:8000/customer/{{ customer.customer_code }}/delete/" class="btn btn-danger btn-block">DELETE</a>
      </div>
    {% endif %}
  </div>
</div>
{% endblock %}
