{% extends "base_generic.html" %}

{% block scripts %}
  <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
  <script>
    $(document).ready(function() {
      $(".btn-outline-danger").first().click(function() {

      });
    });
  </script>
{% endblock %}

{% block content %}
<div class="col-sm-10">
  <div class="col-sm-10 mx-auto">
    <br>
    <p class="text-center mb-4">Nhóm nhà cung cấp: {{ supplier_group.group_name }}</p>
    
    {% if supplier %}
      <h2 class="mt-4">Nhà cung cấp</h2>
      <table class="table table-bordered">
        <thead class="thead-light">
          <tr>
            <th>Mã nhà cung cấp</th>
            <th>Tên nhà cung cấp</th>
            <th>Email</th>
            <th>Số điện thoại</th>
          </tr>
        </thead>
        <tbody>
          {% for sup in supplier %}
            <tr>
              <td><a href="http://127.0.0.1:8000/supplier/{{ sup.supplier_code }}/">{{sup.supplier_code }}</a></td>
              <td>{{ sup.supplier_name }}</td>
              <td>{{ sup.email }}</td>
              <td>{{ sup.phone_number }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% else %}
      <p class="text-center mt-4">Không có bất kỳ nhà cung cấp nào</p>
    {% endif %}
    
    {% if user.is_staff %}
      <div class="d-grid gap-2 col-4 mx-auto mt-4">
        <button class="btn btn-info btn-block" type="button">UPDATE</button>
        <a href="http://127.0.0.1:8000/supplier_group/{{ supplier_group.group_code }}/delete/" class="btn btn-danger btn-block">DELETE</a>
      </div>
    {% endif %}
  </div>
</div>
{% endblock %}
