{% extends "base_generic.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8 mx-auto">
            <h1 class="mb-4">Xóa đơn hàng</h1>
            <p>Bạn chắc chắn muốn xóa đơn hàng: <strong>{{ order.order_code }}</strong>?</p>

            {% if user.is_staff %}
            <form method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger mr-2">DELETE</button>
                <a href="{% url 'pos:order_detail' order_code=order.order_code %}" class="btn btn-secondary">CANCEL</a>
            </form>
            {% else %}
            <p class="mt-4">Bạn không có quyền truy cập trang web này!!!!!!!</p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
