{% extends "base_generic.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8 mx-auto">
            <h1 class="mb-4">Xóa loại sản phẩm</h1>
            <p>Bạn chắc chắn muốn xóa loại sản phẩm: <strong>{{ product_type.type_code }}</strong>?</p>

            {% if user.is_staff %}
            <form method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger mr-2">DELETE</button>
                <a href="{% url 'pos:product_type_detail' type_code=product_type.type_code %}" class="btn btn-secondary">CANCEL</a>
            </form>
            {% else %}
            <p class="mt-4">Bạn không có quyền truy cập trang web này!!!!!</p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
