<style>
  .sidebar-nav {
    margin-top: 20px;
    padding: 0;
    list-style: none;
  }

  #logout-form {
    display: inline;
  }

  #logout-form button {
    padding: 0;
    margin: 0;
  }
</style>

<script
  src="https://code.jquery.com/jquery-3.7.1.js"
  integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
  crossorigin="anonymous"></script>
